.funfact-section {
  position: relative;
  padding-bottom: 80px;
}
.funfact-section .inner-container {
  position: relative;
  display: block;
  background: #241e2f;
  padding: 65px 60px 60px;
  box-shadow: 0 0 120px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: -110px;
  z-index: 1;
}
.funfact-block-one .inner-box {
  position: relative;
  display: block;
}
.funfact-block-one .inner-box .count-outer {
  position: relative;
  display: block;
  font-size: 50px;
  line-height: 50px;
  font-family: Jost, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.funfact-section .shape .shape-1,
.funfact-section .shape .shape-2 {
  position: absolute;
  top: 0;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.funfact-block-one .inner-box p {
  display: block;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  font-weight: 600;
}
.funfact-section .shape .shape-1 {
  left: 0;
  width: 480px;
  padding: 80px 0;
}
.funfact-section .shape .shape-2 {
  right: 0;
  width: 488px;
}
