.page-title .bg-layer,
.page-title .bg-layer:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.page-title .bread-crumb li,
.page-title .bread-crumb li a {
  display: inline-block;
  color: #fff;
}
.page-title {
  position: relative;
  padding: 140px 0;
}
.page-title .bg-layer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.page-title .bg-layer:before {
  content: "";
  background-color: #17141f;
  opacity: 0.65;
}
.page-title h1 {
  position: relative;
  display: block;
  font-size: 60px;
  line-height: 70px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 22px;
}
.page-title .bread-crumb li {
  position: relative;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin-right: 20px;
}
.page-title .bread-crumb li:last-child {
  margin: 0;
}
.page-title .bread-crumb li:last-child:after {
  display: none;
}
